/*******************************************************************************
 * Universal configuration
 ******************************************************************************/

/* -webkit-flex is used for Safari compatibility*/
body,
html{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*Using flex to vertically and horizontal align elements*/
.vertical-center{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.page-views{
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: auto;
  width: 100%;
}

.full-height{
  height: 100%;
}

.row.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

a.no-decoration,
a.no-decoration:link,
a.no-decoration:visited,
a.no-decoration:hover,
a.no-decoration:active{
  text-decoration: none;
}
/*******************************************************************************
 * index.html
 ******************************************************************************/

/*
 * Navigation Bar CSS
 */
.navigation-bar{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 10%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border-bottom: 1px white solid;
  background-color: black;
}

.navigation-bar .links{
  height: 100%;
  text-align: center;
}

.navigation-bar p.nav-links{
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin: 0px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .navigation-bar p.nav-links{
    font-size: 40px;
  }
}

.navigation-bar p.nav-links:hover,
.navigation-bar p.nav-links.active{
  font-weight: 400;
  border-bottom: 1px solid #52bab3;
}

.active-page-link{
  border-bottom: 1px solid #52bab3;
}

.footer{
  background-color: black;
  height: 70px;
  width: 100%;
  bottom: 0;
  color: white;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.footer .footer-text{
  opacity: .7;
}

.footer .footer-text:hover{
  opacity: 1;
}

.footer p.footer-text{
  font-size: 16px;
  font-weight: 300;
  margin: auto;
}

.footer a{
  text-decoration: none;
  color: white;
}

.row.footer-design{
  text-align: center;
}

img.git-linkedIn-link{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  opacity: .7;
  background-color: white;
}

img.git-linkedIn-link:hover{
  opacity: 1;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .footer{
    height: 140px;
  }

  .footer p.footer-text{
    font-size: 25px;
  }

  img.git-linkedIn-link{
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }
}


/*******************************************************************************
 * home.html
 ******************************************************************************/

.info-container{
  background-color: #eceff1;
  width: 65%;
  margin: auto;
  border-radius: 10px;
  opacity: .9;
}

.info-container .profile-content{
  padding: 2%;
  display: -webkit-flex;
  display: flex;
  position: relative;
}

.info-container .profile-content .image-container{
  padding: 0px 15px 0px 0px;
  height: initial;
}

.info-container .profile-content .image-container #profile-pic{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.info-container .profile-content .bio-container{
  padding: 0px 0px 0px 15px;
  height: initial;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.bio-container .skills-title-row{
  text-align: center;
  -webkit-flex: 1;
  flex: 1;
}

.bio-container .skills-title-row .skill-title-style{
  margin: 0px;
}

.bio-container .skills-content-row{
  -webkit-flex: 9;
  flex: 9;
}

.bio-container .skills-content-row .skills-container{
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Poiret One', "Helvetica Neue", Arial;
}



.bio-container .skills-content-row .skills-container .col-property-style{
  padding: 5px 15px 5px 0px;
}

.bio-container .skills-content-row .skills-container .skill-description-style{
  margin: 0px;
  text-align: left;
}

.bio-container .skills-content-row .skills-container .col-coding-language{
  padding: 5px 0px 5px 15px;
}

.on{
  color: blue;
  font-size: 20px;
  opacity: 1;
}

.off{
  color: red;
  font-size: 20px;
  opacity: .4;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .info-container{
    width: 90%;
  }

  .bio-container .skills-content-row .skills-container{
    font-size: 25px;
  }

  .on{
    font-size: 35px;
  }

  .off{
    font-size: 35px;
  }
}

/*******************************************************************************
 * project.html
 ******************************************************************************/

.full-height.projects-container{
  padding: 20px 0px;
}

.projects-container .row.no-margin.project-row{
  padding: 20px 0px;
}

.project-row .project-col{
  padding: 0px 20px;
}

.project-col .project-container{
  width: initial;
}

.project-container .project-image{
  height: 300px;
  width: 300px;
  display: block;
  border-radius: 6px;
}

.project-container .title-container{
  background: rgba(0,0,0,0.5);
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  margin: 0px 20px;
  border-radius: 6px;
}

.project-container:hover .title-container{
  opacity: 1;
}

.project-container .title-container .title-style{
  margin: 0px;
  color: white;
  font-family: 'Tangerine', cursive;
  font-size: 2em;
  font-weight: 500;
}

 /*******************************************************************************
  * login.html
  ******************************************************************************/

.login-container{
  width: 100%;
}

.login-container .warning-container{
  height: 100px;
  width: 100%;
}

.login-container .warning-container .admin-only-warning{
  font-size: 55px;
  font-family:'Tangerine', cursive;
  color: #52bab3;
  margin: 0px;
}

.login-container .row form.col.s12.login-form{
  width: 50%;
}

.login-container .empty-container{
  height: 150px;
}

/*******************************************************************************
 * admin.html
 ******************************************************************************/

 .thumb{
   height: 30px;
   width: 30px;
   border: 1px solid black;
 }

/*******************************************************************************
 * projectTemplate.html
 ******************************************************************************/
div#popup-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  position: fixed;
}

div#popup-overlay.ng-hide {
  background-color: rgba(0, 0, 0, 0);
}

.pop-up-project-container{
  height: 65%;
  width: 60%;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

.pop-up-project-container .project-top-row{
  background-color: white;
  height: 10%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pop-up-project-container .project-top-row .project-title{
  width: 90%;
  float: left;
}

.pop-up-project-container .project-top-row .project-title p.title-font-style{
  font-family: 'Tangerine', cursive;
  font-size: 2em;
  font-weight: bolder;
  margin: 0% 0% 0% 10%;
}

.pop-up-project-container .esc-pop-up-col{
    width: 10%;
    float: right;
    text-align: right;
    padding-right: 1%;
}

.pop-up-project-container .project-img-container{
  background-color: white;
  height: 35%;
  width: 100%;
}

.pop-up-project-container .pop-up-project-image{
  height: 95%;
}

.pop-up-project-container .project-description{
 height: 45%;
 width: 100%;
 background-color: #f5f5f5;
 margin: auto;
 text-align: center;
}

.pop-up-project-container .project-description .paragraph-area-container{
  width: 80%;
  height: 100%;
  margin: auto;
}

.pop-up-project-container .paragraph-style{
  margin: 0px;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 300;
}

.pop-up-project-container .paragraph-style span{
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 1.3em;
}

.pop-up-project-container .project-footer{
  height: 10%;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .pop-up-project-container{
    width: 90%;
  }
}

@media screen and (max-device-width: 768px) and (orientation: landscape){
  .pop-up-project-container{
    height: 90%;
  }
}

/*******************************************************************************
 * video.html
 ******************************************************************************/

.background-video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(images/homeUFinspiration.jpg) no-repeat;
  background-size: cover;
}

.background-video#project-video{
  background: url(images/projectNashInspiration.jpg) no-repeat;
}

#project-description-box{
  width: 600px;
  height: 10rem;
  text-decoration: none;
  border: solid 2px #52bab3;
  color: black;
  font-size: 1.2em;
  outline: none;
}

 /*******************************************************************************
  * courses.html
  ******************************************************************************/

.courses-chart{
  width: 700px;
}

.courses-chart .semester-header-container{
  height: 3.5rem;
  line-height: 3.5rem;
}

.courses-chart .semester-header-container:hover,
.courses-chart .collapsible-body .course-style:hover{
  background-color: #f5f5f5;
  color: #52bab3;
}

.courses-chart .semester-header-container .school-icon-position{
  line-height: 3.5rem;
}

.courses-chart .collapsible-body .course-style{
  padding: 1rem 2rem;
  color: black;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .courses-chart{
    width: 800px;
    font-size: 40px;
  }

  .courses-chart .semester-header-container{
    height: 10rem;
    line-height: 10rem;
  }

  .courses-chart .semester-header-container .school-icon-position{
    line-height: 10rem;
    font-size: 3rem;
    margin-right: 1.5rem;
  }

  .courses-chart .collapsible-body .course-style{
    font-size: 30px;
    padding:   2rem;
  }
}

/*******************************************************************************
 * preloader.html
 ******************************************************************************/

 #loader-wrapper{
   position: fixed;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   z-index: 1000;
 }

 #loader{
   display: block;
   position: relative;
   left: 50%;
   top: 50%;
   width: 150px;
   height: 150px;
   margin: -75px 0 0 -75px;
   border-top: 3px solid #3498db;
   border-radius: 50%;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
   z-index: 1001;
 }

 #loader:before{
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border-top: 3px solid #e74c3c;
   border-radius: 50%;
   -webkit-animation: spin 3s linear infinite;
   animation: spin  3s linear infinite;
 }

 #loader:after{
   content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border-top: 3px solid #ffff00;
   border-radius: 50%;
   -webkit-animation: sip 1.5s linear infinite;
   animation: spin 1.5s linear infinite;
 }

 @-webkit-keyframes spin {
   0%{
     -webkit-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100%{
     -webkit-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     transform: rotate(360deg);
   }
}

@keyframes spin {
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section{
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index:1000;
}

#loader-wrapper .loader-section.section-left{
  left:0;
}


#loader-wrapper .loader-section.section-right{
  right:0;
}


/*Loaded styles */
/*  translateX moves section-left
    div all the way to the left

    transition is the amount of time the animation takes
*/
.loaded #loader-wrapper .loader-section.section-left{
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/*
  NOTE:the second time interval is for delaying
 */
.loaded #loader-wrapper .loader-section.section-right{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/*Order of Animation
  1) loader fades out
  2) section-left and section-right (enhance a delay of .3s)
  3) id loader-wrapper moves all the way to the top of page
     and thus delay of 1s (.3s + .7s)
*/
.loaded #loader{
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper{
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
