/*******************************************************************************
 * Universal configuration
 ******************************************************************************/

body,
html,
.main_container {
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.full-height{
  height: 100%;
}

.row.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}
/*******************************************************************************
 * index.html
 ******************************************************************************/

/*
 * Navigation Bar CSS
 */
.navigation-bar{
  width: 100%;
  height: 10%;
}

.navigation-bar .links{
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

a.no-underline-link,
a.no-underline-link:link,
a.no-underline-link:visited,
a.no-underline-link:hover,
a.no-underline-link:active
{
  text-decoration: none;
  color: gray;
  font-size: 20px;
  font-weight: 200;
}

a.no-underline-link:hover,
a.no-underline-link:active{
  color: black;
  border-bottom: 1px solid #52bab3;
  padding-bottom: 5px;
  font-size: 21px;
}

.page-views{
  height: 90%;
  width: 100%;
}

/*
 * Footer CSS
 */

.footer{
  background-color: black;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: white;
}

.footer .footer-text{
  opacity: .7;
}

.footer .footer-text:hover{
  opacity: 1;
}

.footer p.footer-text{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 19px;
}
.row.footer-design{
  text-align: center;
}

.footer img.git-linkedIn-link{
  opacity: .7;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
  padding: 0;
  margin: 10px 0px;
}

.footer img.git-linkedIn-link:hover{
  opacity: 1;
}

/*******************************************************************************
 * home.html
 ******************************************************************************/

.info-container{
  background-color: #eceff1;
  width: 60%;
  margin: auto;
  height: 80%;
  border-radius: 5%;
}

.profile-content{
  padding: 5%;
}

#profile-pic{
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.skills-title-row{
  text-align: center;
}

.skills-container{
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: fantasy;
}

.on{
  color: blue;
  font-size: 20px;
  opacity: 1;
}

.off{
  color: red;
  font-size: 15px;
  opacity: .5;
}

.skills-container .coding-language-col:hover{
  background-color: grey;
}

/*******************************************************************************
 * project.html
 ******************************************************************************/
.project-row{
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-row .project-container{
  width: initial;
}

.project-container .project-image{
  height: 300px;
  width: 300px;
  opacity: .5;
  margin: auto;
  display: block;
}

.project-container:hover .project-image{
  opacity: 1;
}


 /*******************************************************************************
  * login.html
  ******************************************************************************/

.login-container{
  height: 400px;
  width: 600px;
  background-color: yellow;
  margin: auto;
}

/*******************************************************************************
 * projectTemplate.html
 ******************************************************************************/

.pop-up-project-container{
  height: 400px;
  width: 500px;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

.pop-up-project-container .pop-up-project-image{
 height: 100px;
 width: 100px;
}

.pop-up-project-container .project-description{
 height: 248px;
 width: 100%;
 background-color: #F0FBF1;
 margin: auto;
 text-align: center;
}
