<div class="row admin-container">
  <form class="col s12" ng-controller="AdminController as ACtrl"
  ng-submit="ACtrl.postProject()" name="adminForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" required
        ng-model="formProperties.projectName">
        <label for="project_nam">Project Name</label>
      </div>

      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" required
        ng-model="formProperties.github">
        <label for="project_name">GitHub URL</label>
      </div>

      <div class="form-group">
        <label>
          <textarea id="project-description-box" placeholder="Project Description"
            ng-model="formProperties.projectDescription" required>
          </textarea>
        </label>
      </div>
    </div>

    <div class="row photo-uploading-container">
      <div class = "row">
        <div class ="front-display-photo">
          <p>Front Display Photo:</p>
          <input class="uploaded-file-image" type="file" ngf-select ng-model="formProperties.frontDisplayPhoto" name="frontDisplayPhoto"
          accept="image/*" ngf-max-size="2MB" required>
          <i ng-show="adminForm.frontDisplayPhoto.$error.required">*required</i>
          <i ng-show="adminForm.frontDisplayPhoto.$error.maxSize">File too large
            {{formProperties.frontDisplayPhoto.size / 1000000|number:1}}MB: max {{formProperties.frontDisplayPhoto.$errorParam}}</i>
          <img ng-show="adminForm.frontDisplayPhoto.$valid" ngf-src="!formProperties.frontDisplayPhoto.$error && formProperties.frontDisplayPhoto"
            class="thumb">
        </div>

        <div class = "pop-up-info-photo">
          <p>Pop up Info Photo:</p>
          <input class="uploaded-file-image" type="file" ngf-select ng-model="formProperties.popUpInfoPhoto" name="popUpInfoPhoto"
          accept="image/*" ngf-max-size="2MB" required>
          <i ng-show="adminForm.popUpInfoPhoto.$error.required">*required</i>
          <i ng-show="adminForm.popUpInfoPhoto.$error.maxSize">File too large
            {{formProperties.popUpInfoPhoto.size / 1000000|number:1}}MB: max {{formProperties.popUpInfoPhoto.$errorParam}}</i>
          <img ng-show="adminForm.popUpInfoPhoto.$valid" ngf-src="!formProperties.popUpInfoPhoto.$error && formProperties.popUpInfoPhoto"
          class="thumb">
        </div>
      </div>

      <div class="row submit-form-container">
        <button type="submit" class="btn btn-default"
        ng-click="uploadPic(formProperties.frontDisplayPhoto, formProperties.popUpInfoPhoto)" ng-disabled="adminForm.$invalid">Submit</button>
        <span class="progress" ng-show="frontDisplayPhoto.progress >= 0">
          <div style="width:{{formProperties.frontDisplayPhoto.progress}}%"
          ng-bind="formProperties.frontDisplayPhoto.progress + '%'"></div>
        </span>
        <span ng-show="formProperties.frontDisplayPhoto.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>
    </div>

  </form>
</div>
