<video autoplay muted loop poster="images/projectNashInspiration.jpg" src="videos/inspirationVideo.mp4"
 class="background-video" id="project-video">
</video>

<div class="full-height projects-container" ng-controller="ProjectsController as pCtrl">
  <div class="row no-margin project-row" ng-repeat="row in pCtrl.projectRows">
    <div class="col-xs-4 project-col" ng-repeat="image in row">
      <div class="project-container" ng-click="pCtrl.showProjectPopUp(image)">
        <a href="">
          <img class="project-image" src="/images/{{image.img}}">
        </a>
      </div>
    </div>
  </div>
</div>

<div project-pop-up ng-switch="popup"></div>
